
.number {
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    color: #242b33;
    border-bottom: 1px solid #ebeeef;
    width: 100%;
  }
  