.subscribe {
    display: flex;
    align-items: center;
    background: #003459;
    padding: 32px;
    border-radius: 16px;
    gap: 20px;
    h2 {
      color: #fdfdfd;
      font-size: 24px;
      flex-basis: 33%;
      text-transform: capitalize;
    }
    form {
      flex: 1;
      display: inline-flex;
      border-radius: 14px;
      padding: 12px;
      background: #fff;
      gap: 12px;
      input {
        background: none;
        border: 1px solid #99a2a5;
        border-radius: 8px;
        height: 50px;
        flex: 1;
        padding: 14px 28px;
        font-weight: 500;
        font-size: 14px;
        color: #99a2a5;
        outline: none;
      }
      button {
        display: inline-flex;
        font-weight: 500;
        font-size: 16px;
        color: #fdfdfd;
        background: #003459;
        padding: 0 30px;
        border-radius: 10px;
        border: none;
        text-transform: capitalize;
        align-items: center;
        transition: background 0.3s;
        &:hover {
          background: #0078cd;
        }
      }
    }
  }